<a href="https://colab.research.google.com/github/adeshsingh5505/pdfExtract/blob/main/Dataset_creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("/content/input.csv")

# Define the values you want to match in columns C and D
value_D = "value_D"
value_C = "value_C"

# Create condition (D == value_D) and (C == value_C)
mask = (df.iloc[:, 3] == "TimesTen-Roman") & (df.iloc[:, 2] == 10)
mask2 =(df.iloc[:, 3] == "TimesTenLTStd-Roman") & (df.iloc[:, 2] == 8)
mask3 =(df.iloc[:, 3] == "ITCAvantGardeStd-Bk") & (df.iloc[:, 2] == 40)
mask4=(df.iloc[:, 3] == "ITCAvantGardeStd-Bk") & (df.iloc[:, 2] == 20)
mask5= (df.iloc[:, 3] == "ITCAvantGardeStd-Bold") & (df.iloc[:, 2] == 10)
mask6=(df.iloc[:, 3] == "TimesTenLTStd-Roman") & (df.iloc[:, 2] == 10)
mask7= (df.iloc[:, 3] == "Univers-Light") & (df.iloc[:, 2] == 9)
mask8= (df.iloc[:, 3] == "AvantGarde-Demi") & (df.iloc[:, 2] == 10)
mask9= (df.iloc[:, 3] == "TimesTen-Bold") & (df.iloc[:, 2] == 10)
mask10= (df.iloc[:, 3] == "Helvetica") & (df.iloc[:, 2] == 8)
mask11 = (df.iloc[:, 3] == "TimesTen-Roman") & (df.iloc[:, 2] == 9)
mask12= (df.iloc[:, 3] == "TimesTen-Roman") & (df.iloc[:, 2] == 10.5)
mask13= (df.iloc[:, 3] == "Helvetica")

# Fill column K (index 10) with desired value, e.g., "MATCHED"
df.iloc[mask, 10] = "Other"
df.iloc[mask2, 10] = "Other"
df.iloc[mask3, 10] = "Title"
df.iloc[mask4, 10] = "H1"
df.iloc[mask5, 10] = "H3"
df.iloc[mask6, 10] = "Other"
df.iloc[mask7, 10] = "Other"
df.iloc[mask8, 10] = "H3"
df.iloc[mask9, 10] = "Title"
df.iloc[mask10, 10] = "Other"
df.iloc[mask11, 10] = "Other"
df.iloc[mask12, 10] = "H3"
df.iloc[mask13, 10] = "Other"

df.iloc[:, 10] = df.iloc[:, 10].replace('', pd.NA)  # convert empty strings to NA
df.iloc[:, 10] = df.iloc[:, 10].fillna('Other')     # fill NA with 'Other'
# Save the updated CSV
df.to_csv("output.csv", index=False)

In [14]:
import pandas as pd

# Load CSV
df = pd.read_csv("/content/output.csv")

# Count empty cells in column K (index 10)
empty_k_count = df.iloc[:, 10].isna().sum() + (df.iloc[:, 10].astype(str).str.strip() == "").sum()

print("Number of empty cells in column K:", empty_k_count)

Number of empty cells in column K: 0